.header-container {
    background-color: #ffebda;
    padding: 35px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-visible{
 padding: 35px;
}

.header-container:hover{
    background-color: #fcddc4;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    justify-content: center;
}

.header-logo {
    height: 40px;
    margin-top: 0px;
    margin-right: 20px;
}

.header-link {
    color: #612d0f;
    text-decoration: none;
    font-weight: 700;
    transform-origin: center center;
    font-size: 20px;
    transition: color 0.3s, background-color 0.3s;
    padding: 8px 12px;
}

.header-link.protein-calculator {
    padding: 4px 10px;
    font-size: 16px;
    background-color: #fcd18d;
    border-radius: 15px;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-search {
    padding: 8px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
    width: 200px;
}

.header-icon {
    color: black;
    font-size: 20px;
    transition: color 0.3s;
}