.product-card {
  padding: 16px;
  position: relative;
  overflow: hidden;
  width: 250px;
  height: 470px;
  display: flex;
  flex-direction: column;
  margin: 20px 5px;
  border: 2px solid #f39d52;
  background-color: #ffeddd;
  border-radius: 25px;
}

.images {
  height: 300px;
  width: auto;
}

.product-card h3 {
  margin: 8px;
  font-size: 16px;
}

.product-card p {
  margin: 3px 0px;
}

.add-to-cart-button,
.out-of-stock-button {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto;
  transition: background-color 0.3s;
}

.add-to-cart-button {
  display: block;
  text-decoration: none;
  border-radius: 12px;
  border: solid 1px #f39d52;
  background-color: #f39d52;
  padding: 11px 22px 10px 22px;
  color: #fef5e6 !important;
  text-align: center;
  font-family: CabinetGrotesk;
  font-size: 20px;
  font-weight: 900;
  width: 100%;
  margin: 0;
}

.price {
  color: inherit;
  opacity: .5;
  text-decoration: line-through;
}

.oriprice{
  font-weight: 900;
}

.discount {
  font-size: 16px;
  font-weight: 900;
}

.offer {
  color: #f39d52;
  font-weight: 500;
}

.serving {
  border: 1px solid #f39d52;
  font-size: 12px;
  font-weight: 800;
  border-radius: 10px;
  padding: 6px 8px;
  line-height: normal;
}

.productname {
  font-weight: 500;
  color: #612d0f;
  font-size: inherit;
  text-decoration: none;
}

.add-to-cart-button:hover {
  background-color: #f7bd8a;
}

.out-of-stock-button {
  background-color: #f5e3c2;
  color: #612d0f;
  border-radius: 16px;
  font-size: 20px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  border: none;
  cursor: not-allowed;
}

.product-label {
  position: absolute;
  top: 15px;
  left: 20px;
  padding: 2px 10px;
  border-radius: 5px;
}

.best-seller {
  background-color: #77ce8b;
}

.new {
  position: absolute;
  top: 15px;
  left: 160px;
  padding: 2px 10px;
  border-radius: 5px;
  background-color: #f39c12;
}

.beginners-box {
  background-color: #ff69b4;
}

.trusted-by-moms {
  background-color: #ffd700;
}

.seniors-friendly {
  background-color: #add8e6;
}

.flavour {
  width: fit-content;
  border: 1px solid #fcd18d;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 800;
  padding: 8px;
  line-height: 1em;
  background-color: #ffedce;
  margin-bottom: 20px;
}

.rating {
  font-size: 18px;
  margin: 4px 10px;
  background-color: #fce1b8;
  font-size: 12px;
    font-weight: 800;
    border-radius: 10px;
    padding: 6px 8px;
    line-height: normal;
}

.rating-filled {
  color: #fad91d;
}

.rating-empty {
  color: #000;
}

.rating-filled,
.rating-empty {
  font-weight: bold;
}